html,
body {
  padding: 0;
  margin: 0;
  font-family: Microsoft JhengHei, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: #FFC37D; */

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: red;
  }
  body {
    color: white;
    /* background: #FFC37D; */
    background-color: #FFC37D;
  }
}
